.hidden-content{
    display: none;
}

.hidden-content.reveal-btn{
    display: block;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.hidden-content{
    border: 2px solid black;
    padding: 50px;
    width: 250px;
    background-color: rgb(8, 21, 69);
    color: white;
    border-radius: 5px;
}

button{
    width: 100px;
    padding: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(127, 143, 201);
    border: none;

}